*{
	padding: 0px;
	margin: 0px;
}

#header{
	height: 125px;
	background-color: #008000;
}

.geral{
	width: 978px;
	margin: auto;
    position: relative;
}

#imgGado{
	width: 120px;
	margin-top: 2%;
}

#titulo{
	float: right;
	margin-right: 15%;
	margin-top: 1%;
}

#titulo h1{
	font-family: fantasy;
	font-size: 80px;
	color: #96b566;
	text-align: center;
}

#desconectar{
	float: right;
	margin-top: 15px;
	color: #96b566;
	text-decoration: none;
	font: 15px Arial, Helvetica, sans-serif;
}

li {
	cursor: pointer;
}

#menu{
	background-color: #008000;
	min-height: 40px;
	font: 18px Arial, Helvetica, sans-serif;
	text-align: center;
}

#menu ul li{
	color: #96b566;
    display: inline;
    line-height: 40px;
	padding: 0px 45px;
}

#menu ul li:hover{
	color: white;
}

#cadastro{
	background-color: #96b566;
	height: 500px;
	font-family: Noto Sans, sans-serif;
}

#cadastro h1{
	text-align: center;
	color: #008000;
}

#cadastro b{
	margin-left: 36%;
	color: #008000;
	font-size: 14px;
}

#cadastro input{
	float: right;
	margin-right: 41%;
}

#cadastro button{
	padding: 5px 15px;
	color: #008000;
	border: none;
}

#cadastrar{
	margin-left: 41%;
}